extends layout.pug 

block scripts 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js")
    script(src="/static/javascript/anime.js")

block style 
    link(rel="stylesheet", href="/static/CSS/watched.css")
    link(rel="stylesheet", href="/static/CSS/watched-p.css")
    link(rel="stylesheet", href="/static/CSS/universal.css")
    link(rel="stylesheet", href="/static/CSS/watched-t.css")

block content
  .main 
    h1.ani  Watched Anime   
    .alphabet
        a(href="/watched") All
        a(href="/watched?favorite=1" class=(favorite == 1 ? 'active' : '')) ⭐
        a(href="/watched?favorite=2" class=(favorite == 2 ? 'active' : '')) ⭐⭐
        a(href="/watched?letter=special" class=(letter === 'special' ? 'active' : '')) #
        - for (let c = 65; c <= 90; c++)
            - const char = String.fromCharCode(c)
            a(href=`/watched?letter=${char}` class=(letter === char ? 'active' : ''))= char

    .anime-list 
        if animeList && animeList.length
            ol
                each anime in animeList
                    li.eac
                        .anime-row 
                            span.anime-text= anime.name
                            //Favorite buttons
                            form(action="/favorite/" + anime._id, method="POST", style="display:inline")
                                if letter
                                    input(type="hidden", name="letter", value=letter)
                                button(
                                    type="submit",
                                    name="fav",
                                    value=anime.favorite === 1 ? 0 : 1,
                                    class="fav-btn",
                                    style=`color:${anime.favorite >= 1 ? 'gold' : '#b8c1ec'}; font-size:1.3rem; border:none; background:none; cursor:pointer;`
                                ) ☆
                            form(action="/favorite/" + anime._id, method="POST", style="display:inline")
                                if letter
                                    input(type="hidden", name="letter", value=letter)
                                button(
                                    type="submit",
                                    name="fav",
                                    value=anime.favorite === 2 ? 0 : 2,
                                    class="fav-btn",
                                    style=`color:${anime.favorite == 2 ? 'gold' : '#b8c1ec'}; font-size:1.3rem; border:none; background:none; cursor:pointer;`
                                ) ☆
        else
            .no-watched 
                p No anime watched yet.
    .khl 
        a.btn-2(href="/") ← Back to Home